.menu {
	margin: 0 auto;
}

header {
	background: $secondary-color;
}

header::after {
	content: "";
	display: table;
	clear: both;
}

nav {
	float: right;
	padding-right: 100px;
}

nav ul {
	margin: 0;
	padding: 15px;
	list-style: none;
}

nav li {
	display: inline;
	margin-left: 70px;
	padding-top: 70px;
}

nav a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

nav a:hover {
	color: gray;
	@include easeOut();
}
